body {
  font-family: 'Inconsolata', monospace;
  color: $color-secondary;
}

h1 {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem;
}