@mixin cell-size($size) {
  width: $size;
  height: $size;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell--board {
  border: 1px solid $color-secondary;
}

.cell--ship {
  background-color: $color-secondary;
}

.cell--sunk {
  background-color: $color-tertiary;
}

.cell--1 {
  @include cell-size(4vh);
}

.cell--2 {
  @include cell-size(5vh);
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 100px 100px rgba(2, 255, 255, 0.15);
  }

}

.mark--o,
.mark--x {
  @include cell-size(3vh);
  color: $color-secondary;
}

.mark--o--1 {
  color: $color-primary;
}