.container {
  position: relative;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  grid-gap: 3px;
  box-shadow: 0 0 15px $color-secondary;
}

.board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  grid-column: 1 / - 1;
  grid-row: 1 / - 1;
  grid-gap: 3px;
}