.ship {
  position: absolute;
  display: flex;
  background-color: $color-secondary;

  > .cell--ship {
    margin-right: 3px;
  }

  .cell--ship:last-child {
    margin-right: 0;
  }
}

.ship--vertical {
  flex-direction: column;

  > .cell--ship {
    margin-right: 0;
    margin-bottom: 3px;
  }

  .cell--ship:last-child {
    margin-bottom: 0;
  }
}