.settings {
  display: flex;
  flex-direction: column;
}

.stats {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-secondary;
  outline: 1px solid $color-secondary;
  outline-offset: 3px;
  padding: 1rem;
}

.settings__difficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 1rem;
}

.stats__stat {
  display: flex;
  align-items: center;
}

.stats__outer_bar {
  border: 1px solid $color-secondary;
  width: 15vh;
  height: 1.15vh;
}

.stats__inner_bar {
  height: 100%;
  background-color: $color-secondary;
}

.stats__name {
  width: 8rem;
  margin-right: 1rem;
  text-transform: uppercase;
}

.stats__value {
  width: 2rem;
  margin-right: 1rem;
}